@bl: #3BA7BF;
@dg: #343434;
@lg: #575757;
@cr: #F2EFC4;
@wh: #F2F2F2;

.showcase {
  background-color: rgba(255, 255, 255, 0.12);
  padding: 20px;
  margin-bottom: 40px;
  overflow: hidden;

  .albumtitle {
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: @bl;
    font-family: 'Banana Brick';
    text-shadow: 0 8px 12px #000;
  }

  .caseleft {
    float: left;

    .caseart {
      height: 600px;
      width: 600px;
    }
  }

  .caseright {
    height: 500px;
    min-width: 400px;
    overflow: auto;
    color: @wh;

    :nth-child(even) {
      background-color: rgba(255, 255, 255, 0.12);
      box-shadow: 1px 1px 1px #000;
    }

    .track {
      padding: 4px 20px;
      margin: 3px 10px;
      text-align: center;
      text-shadow: 1px 1px 0 @dg;

      span {
        background-color: none;
        color: @bl;
        font-size: 11px;
      }
    }
  }

  .casecommands {
    padding: 10px;

    .rdioaction {
      float: right;
      height: 24px;
      margin-right: 10px;
      padding: 40px 10px 0 0;
      text-align: right;
      font-family: 'Banana Brick';
      font-size: 14px;
      width: 105px;
      background-color: @dg;
      color: @cr;
      box-shadow: 3px 3px 0 0 @bl;
      text-shadow: 1px 1px 0 #000;
    }
  }
}

.listtitle{
    text-align: center;
    font-family: 'Banana Brick';
    font-size: 48px;
}

.albumgrid {
  overflow: hidden;
  overflow-y: auto;
  max-height: 600px;

  .albumthumb {
    background-size: contain;
    float: left;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 2px #000
  }
}

#biopanel {
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.9);
  top: 100px;
  left: 60px;
  max-height: 60%;
  width: 90%;
  color: @wh;
  font-size: 18px;
  font-family: 'Intuitive';

  .titlecontainer {
    float: none;
   
    h1 {
      display: inline;
      color: @bl;
    }
  }

  .close {
    display: inline;
    float: right;
    margin: 10px 15px 0 0;
  }

  .panelbody {
    margin: 20px 12px;
    text-shadow: 1px 1px 0 #000;
    text-transform: uppercase;
  }
}